
<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    <form [formGroup]="form" (submit)="onSubmit()" class="form-signin col-4">
        <h1 class="h3 my-3 fw-normal text-center">Admin Login</h1>

        <input formControlName="email" type="email" name="email" class="form-control my-2" placeholder="Email">
        <div *ngIf="isSubmitted && form.controls['email'].errors">
            <div *ngIf="f['email'].errors['required']" style="color: red;">Email is required</div>
            <div *ngIf="f['email'].errors['email']" style="color: red;">Invalid email format</div>
        </div>
        

        <input formControlName="password" type="password" class="form-control my-2" placeholder="Password">
        <div *ngIf="isSubmitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']" style="color: red;">Password is required</div>
        </div>
        
        <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Log In</button>
    </form>
</div>
