<app-admin-nav></app-admin-nav>

<form [formGroup]="form" (submit)="onSubmit()" class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Add User</h1>
    <input formControlName="name" class="form-control" placeholder="Name" >
    <div *ngIf="isSubmitted && f['name'].errors">
        <div *ngIf="f['name'].errors['required']" style="color: red;">Name is required</div>
    </div>

    <input formControlName="email" type="email" class="form-control" placeholder="Email" >
    <div *ngIf="isSubmitted && form.controls['email'].errors">
        <div *ngIf="f['email'].errors['required']" style="color: red;">Email is required</div>
        <div *ngIf="f['email'].errors['email']" style="color: red;">Invalid email format</div>
    </div>
    
    <input formControlName="password" type="password" class="form-control" placeholder="Password" >
    <div *ngIf="isSubmitted && f['password'].errors">
        <div *ngIf="f['password'].errors['required']" style="color: red;">Password is required</div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>
  
