<app-user-nav></app-user-nav>
<div class="d-flex justify-content-center">
    <form [formGroup]="form" (submit)="onSubmit()" class="form-signin col-4">
        <h1 class="h3 mb-3 fw-normal text-center">Sign Up</h1>
        <!-- <input formControlName="name" class="form-control my-2" placeholder="Name" required>
        <input formControlName="email" type="email" class="form-control my-2" placeholder="Email" required>
        <input formControlName="password" type="password" class="form-control my-2" placeholder="Password" required> -->

        <input formControlName="name" type="text" class="form-control" placeholder="Name" >
        <div *ngIf="isSubmitted && f['name'].errors">
            <div *ngIf="f['name'].errors['required']" style="color: red;">Name is required</div>
        </div>
    
        <input formControlName="email" type="email" class="form-control" placeholder="Email" >
        <div *ngIf="isSubmitted && form.controls['email'].errors">
            <div *ngIf="f['email'].errors['required']" style="color: red;">Email is required</div>
            <div *ngIf="f['email'].errors['email']" style="color: red;">Invalid email format</div>
        </div>
        
        <input formControlName="password" type="password" class="form-control" placeholder="Password" >
        <div *ngIf="isSubmitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']" style="color: red;">Password is required</div>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Sign Up</button>
    </form>
</div>
